body{
    background-image: url(https://wallpaperaccess.com/full/228514.jpg);
}
#para{
    display: none;
}
.jumbotron{
    width: 100%;
    height: 500px;
    border: paleturquoise 2px solid;
    position: relative;
    background-image: url(jumbotron_1200.jpg);
}
.navbar{
    border: solid 2px turquoise;
}
#Websitename{
    text-shadow: wheat ;
    font-size: 3em;
}
#Websitename:hover{
    color: skyblue;
}
#infojumbo,#tile1info,#tile2info,#tile3info{
    border: 1px solid springgreen;
    background-color: black;
    color: white;
    opacity:0.5;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 40px;
    padding: 10px;
    font-size: 1.2em;
    font-style: italic;

    
}
.tile1,.tile2,.tile3{
    border: 2px solid lavender;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 200px;
    background-color: darkgrey;
    margin-bottom: 20px;
}

.address{
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    color: snow;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.3em;
    text-shadow: mediumseagreen;
    
}
hr{
    font-size: x-large;
    color: black;
    margin-right: 0;

}
#order:hover{
    opacity: 0.4;
}


@media (max-width:768px){
    .jumbotron{
        background-image: url(jumbotron_768.jpg);
    }
    .address{
        color: yellowgreen;
    }
}


